/* google font importado */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
/* @import 'bootstrap/dist/css/bootstrap.css'; */

body.custom {
  background: white;
  margin: 0;
  font-family: "Poppins";
}
header.customheader {
  background: #fff;
  
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin-right: 50px;
}

header a {
  color: #333;
  text-decoration: none !important;
}

nav a:hover {
  color:#ffc107 !important;
}
header a:hover {
  color: #ffc107 !important;
}

div.error {
  padding: 10px;
  background: #f0b2b2;
  border: 2px solid #d24040;
  color: #bc3a3a;
  border-radius: 4px;
  margin: 20px 0;
}

.alt-row {
  background-color: #fde18f80;
}

footer {
  background-color: #a8a8a8;
  /* background-color: #917002; */
}

.avoid-overflow {
  overflow-x: hidden;
}
