/* google font importado */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
/* @import 'bootstrap/dist/css/bootstrap.css'; */

body.custom {
  background: white;
  margin: 0;
  font-family: "Poppins";
}

header.customheader {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin-right: 50px;
}

header a {
  color: #333;
  text-decoration: none !important;
}

nav a:hover {
  color:#ffc107 !important;
}
a:hover {
  color: #ffc107 !important;
}

/* div.error {
  padding: 10px;
  background: #f0b2b2;
  border: 2px solid #d24040;
  color: #bc3a3a;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: -50px;
} */

div.error {
  color: #e31a1a;
}

.alt-row {
  background-color: #fde18f80;
}

footer {
  background-color: #a8a8a8;
  /* background-color: #917002; */
}

.avoid-overflow {
  overflow-x: hidden;
}

/* .login {
  background-color: #fde18f80;
  margin: 100px 380px 50px 380px;
  padding: 80px;
  border-radius: 30px;
} */

.signup-form {
  /* margin: 190px auto; */
  margin: 60px 50px 40px 50px;
  /* padding: 10px 10px; */
  width:30%;
  background-color: #fde18f80;
  /* border: 1px solid; */
  box-shadow: 15px 15px;
  padding: 70px 40px 70px 40px;
  width: 32%;
}

.login-form {
  /* margin: 190px auto; */
  margin: 45px 50px 40px 50px;
  /* padding: 10px 10px; */
  width:30%;
  background-color: #fde18f80;
  /* border: 1px solid; */
  box-shadow: 15px 15px;
  padding: 60px 40px 70px 40px;
  width: 32%;
}

/* box-shadow: size size blur spreadradius #888888; */

.user-form a:hover {
  color: #eeb300 !important;
}

.force-left {
  text-align: left;
  margin: 5px 10px 10px 6px;
}

.custom-stuff {
  background-color: #fde18f80;
}